v.1/reviews-bundle.zip
v.1/pandas_utils.py
v.1/cudnn64_8.dll
exp*
experiment_2.py
/clases
/venv
v.1/experiment.ipynb
/wandb
v.1/news_analisis.ipynb
v.1/learning_pytweet.py
experiments/loader_exp.py
/experiments